/* Your custom application CSS */

  .portfolios {
  }
  .portfolios .item {
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
  }
  .portfolios .item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolios .name {
    width: 100%;
    text-align: center;
  }
  .portfolios .project-header {
    font-size: 1.25rem;
    text-align: center;
    text-decoration: underline;
  }
  .portfolios .project-list {
    display: flex;
    flex-direction: column;
  }
  .portfolios .create {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4CAF50;
    color: white;
    cursor: pointer; 
  }
  .portfolios .edit {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 150px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4CAF50;
    color: white;
    cursor: pointer; 
  }
  .box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .portfolio-new {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .portfolio-new .container {
    border-radius: 40px;
    padding: 40px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .portfolio-new .item {
    margin: 10px 0px;
  }
  .portfolio-new .create {
    display: flex;
    justify-content: flex-end;
  }
  .portfolio-new .city-state-zip {
    display: flex;
    justify-content: space-around;
  }
  .portfolio-new .city-item {
    margin: 0px 10px 0px 0px;
  }
  .portfolio-new .city-item:last-child {
    margin: 0px;
  }
  .company .company-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }