/* Your custom application CSS */

  .portfolios {
  }
  .portfolios .item {
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
  }
  .portfolios .item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolios .name {
    width: 100%;
    text-align: center;
  }
  .portfolios .project-header {
    font-size: 1.25rem;
    text-align: center;
    text-decoration: underline;
  }
  .portfolios .project-list {
    display: flex;
    flex-direction: column;
  }
  .portfolios .create {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4CAF50;
    color: white;
    cursor: pointer; 
  }
  .portfolios .edit {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 150px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4CAF50;
    color: white;
    cursor: pointer; 
  }
  .portfolios .delete {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    left: 300px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(168, 27, 27);
    color: white;
    cursor: pointer; 
  }
  .box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .portfolio-new {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .portfolio-new .container {
    border-radius: 40px;
    padding: 40px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .portfolio-new .item {
    margin: 10px 0px;
  }
  .portfolio-new .create {
    display: flex;
    justify-content: flex-end;
  }
  .portfolio-new .city-state-zip {
    display: flex;
    justify-content: space-around;
  }
  .portfolio-new .city-item {
    margin: 0px 10px 0px 0px;
  }
  .portfolio-new .city-item:last-child {
    margin: 0px;
  }
  .company .company-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .project .complete {
    display: flex;
    flex-direction: row;
  }
  .project .checkbox {
    margin-left: 10px;
  }
  .project .description {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .task .comment-container {
    display: flex;
    flex-direction: column;
  }
  .task .comment-item {
    width: 100%;
  }

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}